{% extends "layout2.html" %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
      <div id="container-all" class="container h-100">
          {% for title, abs, runtime, dirname, starring in mov_info %}
                <div class="row h-100 align-items-center justify-content-center text-center bg-dark" id="index-container">
                    <div class="col-lg-10">
                      <h2 style="color: white; padding-top: 40px;">{{ title }}</h2>
                        <hr class="divider my-4" />
                    </div>
                    <div class="container" id="movie-info-container">
                        <div class="container" style="color: white;" id="movie-text-info">
                          <h5><b>Release Date: </b>{{ rel }}</h5>
                          <h5><b>Runtime: </b>{{ runtime }}</h5>
                            <p style="padding-bottom: 10px"></p>
                            <p style="padding-bottom: 30px"></p>
                            <h5><b>Director: </b><h5 style="overflow: auto; height: 130px;">{{ dirname }} and more</h5></h5>
                            <p></p>
                            {% for star in starring %}
                                <h5><b>Star: </b><h5>{{ star }}</h5></h5>
                            {% endfor %}
                            <p></p>
                            <p style="padding-bottom: 20px"></p>
                          <h5 style="overflow: auto; height: 130px;"><b>Overview: </b>{{ abs }}</h5>
                        </div>
                    </div>
                </div>
          {% endfor %}
        </div>
</header>
{% endblock %}
